html {
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(to right, #FFE769, #A70C61);
}
main {
  position: relative;
}
img {
  position: fixed;

  width: 15%;
}
